<!DOCTYPE html>
<html ng-app="store">
<head>
  <title>Codeschool Angular App</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body class="container" ng-controller="StoreController as store">
  <div class="col-lg-4" ng-repeat="product in store.products">
    <h1 class="pull-left"> {{product.name }} </h1>
    <h2 class="pull-right"> {{product.price | currency}} </h2>
    <img ng-src="{{product.images[0].full}}">
    <section ng-controller="PanelController as panel">
      <ul class="nav nav-pills">
        <li ng-class="{active:isSelected(1) }">
          <a href="" ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{active:isSelected(2) }">
          <a href="" ng-click="panel.selectTab(2)">Specifications</a></li>
        <li ng-class="{active:isSelected(3) }">
          <a href="" ng-click="panel.selectTab(3)">Reviews</a>
        </li>
        {{panel.tab}}
      </ul>
      <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <p>{{product.description}}</p>
      </div>
      <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
        <p>None Yet</p>
      </div>
      <div class="panel" ng-show="panel.isSelected(3) ">
        <h4>Reviews</h4>
        <p>None Yet</p>
      </div>
    </section>
    <button ng-show="product.canPurchase">Add to Cart</button>
  </div>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>