<!DOCTYPE html>
<html ng-app="store">
<head>
  <title>Codeschool Angular App</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
</head>
<body class="container" ng-controller="StoreController as store">
  <div class="col-lg-4" ng-repeat="product in store.products">
    <h1 class="pull-left"> {{product.name }} </h1>
    <h2 class="pull-right"> {{product.price | currency}} </h2>
    <img ng-src="{{product.images[0].full}}">
    <section>
      <ul class="nav nav-pills">
        <li><a href="" ng-click="tab = 1">Description</a></li>
        <li><a href="" ng-click="tab = 2">Specifications</a></li>
        <li><a href="" ng-click="tab = 3">Reviews</a></li>
        {{tab}}
      </ul>
    </section>
    <button ng-show="product.canPurchase">Add to Cart</button>
  </div>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>